<!DOCTYPE html>
<html lang="en">

<head>
    <title>Athena - Main Page</title>

    {% load static %}

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static "img/favicon.png" %}">

    <!-- Morris CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "plugins/morris/morris.css" %}">
    
    <!-- Tagsinput CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}">

    <!-- Lineawesome CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "css/line-awesome.min.css" %}">

    <!-- Select2 CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "css/select2.min.css" %}">

    <!-- Main CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">

    <!-- Datetimepicker CSS -->
	<link rel="stylesheet" href="{% static "css/bootstrap-datetimepicker.min.css" %}">



</head>

<body>
    <!-- Main Wrapper -->
    <div class="main-wrapper">

        {% include 'snippets/sidebar.html' %}

        {% include 'snippets/nav.html' %} 
        
        {% block content %} 
        
        {% endblock content %}
    </div>
    <!-- /Main Wrapper -->

    <!-- Sidebar Overlay -->
    <div class="sidebar-overlay" data-reff=""></div>

    <!-- jQuery -->
    <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>

    <!-- Bootstrap Core JS -->
    <script src="{% static "js/popper.min.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>

    <!-- Slimscroll JS -->
    <script src="{% static "js/jquery.slimscroll.js" %}"></script>

    <!-- Select2 JS -->
    <script src="{% static "js/select2.min.js" %}"></script>

    <!-- HTML5 Shiv JS -->
    <script src="{% static "js/html5shiv.min.js" %}"></script>

    <!-- Respond JS -->
    <script src="{% static "js/respond.min.js" %}"></script>

    <!-- Task JS -->
    <script src="{% static "js/task.js" %}"></script>

    <!-- Datetimepicker JS -->
	<script src="{% static "js/moment.min.js" %}"></script>
	<script src="{% static "js/bootstrap-datetimepicker.min.js" %}"></script>

    <!-- Tagsinput JS -->
    <script src="{% static "plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js" %}"></script>

    <!-- Morris JS -->
    <script src="{% static "plugins/morris/morris.min.js" %}"></script>

    <!-- Raphael JS -->
    <script src="{% static "plugins/raphael/raphael.min.js" %}"></script>

    <!-- Chart JS -->
    <script src="{% static "js/chart.js" %}"></script>

    <!-- Data Tables JS -->
    <script src="{% static "js/jquery.dataTables.min.js" %}"></script>

    <!-- Data Tables JS -->
    <script src="{% static "js/dataTables.bootstrap4.min.js" %}"></script>

    <!-- Dropfiles JS -->
    <script src="{% static "js/dropfiles.js" %}"></script>

    <!-- Full Calendar JS -->
    <script src="{% static "js/fullcalendar.min.js" %}"></script>

    <!-- Full Calendar JS -->
    <script src="{% static "js/jquery.fullcalendar.js" %}"></script>


    <!-- Multiselect JS -->
    <script src="{% static "js/multiselect.min.js" %}"></script>

    <!-- Sticky Kit JS -->
    <script src="{% static "plugins/sticky-kit-master/dist/sticky-kit.min.js" %}"></script>

    <!-- Custom JS -->
    <script src="{% static "js/app.js" %}"></script>

</body>

</html>