{% extends "base.html" %} 

{% block title %}Departments{% endblock %} 

{% block content %} 

{% if user.is_authenticated %} 

{% load static %}
<div class="page-wrapper">

    <!-- Page Content -->
    <div class="content container-fluid">

        <!-- Page Title -->
        <div class="row">
            <div class="col-sm-5 col-5">
                <h4 class="page-title">Department</h4>
            </div>
        </div>
        <!-- /Page Title -->

        <div class="row">
            <div class="col-md-12">
                <div>
                    <table class="table table-striped custom-table mb-0 datatable">
                        <thead>
                            <tr>
                                <th style="width: 30px;">#</th>
                                <th>Department Name</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for department in object_list %}
                            <tr>
                                <td>{{ department.id }}</td>
                                <td>{{ department.name }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Content -->
</div>
<!-- /Page Wrapper -->
{% endif %} 

{% endblock %}