{% extends "base.html" %} 

{% block title %}User Profile{% endblock %} 

{% block content %} 

{% load static %}

<!-- Page Wrapper -->
<div class="page-wrapper">
    <!-- Page Content -->
    <div class="content container-fluid">

        <!-- Page Title -->
        <div class="row">
            <div class="col-sm-12">
                <h4 class="page-title">My Profile</h4>
            </div>
        </div>
        <!-- /Page Title -->

        <div class="card-box mb-0">
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-view">
                    	<div class="profile-img-wrap">
							<div class="profile-img">
								<img alt="" src="{{ object.profile_image_url }}">
							</div>
						</div>
                        <div class="profile-basic">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="profile-info-left">
                                        <h3 class="user-name m-t-0 mb-0">{{ object.first_name }} {{ object.last_name }}</h3>
                                        <h6 class="text-muted">{{ object.team }}</h6>
                                        <small class="text-muted">{{ object.job_title }}</small>
                                        <div class="staff-id">Employee Username: {{ object.owner.username }}</div>
                                        <div class="small doj text-muted">Date of Join: {{ object.date_of_join }}</div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <ul class="personal-info">
                                        <li>
                                            <div class="title">Phone:</div>
                                            <div class="text">{{ object.phone_number }}</div>
                                        </li>
                                        <li>
                                            <div class="title">Email:</div>
                                            <div class="text">{{ object.email }}</div>
                                        </li>
                                        <li>
                                            <div class="title">Birthday:</div>
                                            <div class="text">{{ object.birthday }}</div>
                                        </li>
                                        <li>
                                            <div class="title">Address:</div>
                                            <div class="text">{{ object.address }}</div>
                                        </li>
                                        <li>
                                            <div class="title">Gender:</div>
                                            <div class="text">{{ object.gender }}</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="pro-edit"><a data-target="#profile_info" data-toggle="modal" class="edit-icon" href="#"><i class="fa fa-pencil"></i></a></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-content">

            <!-- Profile Info Tab -->
            <div id="emp_profile" class="pro-overview tab-pane fade show active">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card-box profile-box">
                            <h3 class="card-title">Bank information</h3>
                            <ul class="personal-info">
                                <li>
                                    <div class="title">Bank name</div>
                                    <div class="text">{{ object.bank_information.bank_name }}</div>
                                </li>
                                <li>
                                    <div class="title">Bank account Number</div>
                                    <div class="text">{{ object.bank_information.bank_account_number }}</div>
                                </li>
                                <li>
                                    <div class="title">SWIFT Code</div>
                                    <div class="text">{{ object.bank_information.swift_code }}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card-box profile-box">
                            <h3 class="card-title">Emergency Contact <a href="#" class="edit-icon" data-toggle="modal" data-target="#family_info_modal"><i class="fa fa-pencil"></i></a></h3>
                            <div class="table-responsive">
                                <table class="table table-nowrap">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Relationship</th>
                                            <th>Date of Birth</th>
                                            <th>Phone</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for contact in object.emergencycontact_set.all %}
                                            <tr>
                                                <td>{{ contact.name }}</td>
                                                <td>{{ contact.relationship }}</td>
                                                <td>{{ contact.birthday }}</td>
                                                <td>{{ contact.phone_number }}</td>
                                                {% include 'user/emergencycontact_confirm_delete.html' with contact_id=contact.id %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card-box profile-box">
                            <h3 class="card-title">Education Informations</h3>
                            <div class="experience-box">
                                <ul class="experience-list">
                                {% for education in object.educationinformation_set.all %}
                                    <li>
                                        <div class="experience-user">
                                            <div class="before-circle"></div>
                                        </div>
                                        <div class="experience-content">
                                            <div class="timeline-content">
                                                <a href="#" class="name">{{ education.institution_name }}</a>
                                                <div>{{ education.title }}</div>
                                                <span class="time">{{ education.start_date }} - {{ education.end_date }}</span>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card-box profile-box">
                            <h3 class="card-title">Experience</h3>
                            <div class="experience-box">
                                <ul class="experience-list">
                                {% for experience in object.experienceinformation_set.all %}
                                    <li>
                                        <div class="experience-user">
                                            <div class="before-circle"></div>
                                        </div>
                                        <div class="experience-content">
                                            <div class="timeline-content">
                                                <a href="#/" class="name">{{ experience.title }}</a>
                                                <span class="time">{{ experience.start_date }} - {{ experience.end_date }}</span>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Profile Info Tab -->
        </div>
    </div>
    <!-- /Page Content -->

    <!-- Profile Modal -->
    <div id="profile_info" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Profile Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
                </div>
                <div class="modal-body">
                    {% include 'user/profile_info.html' %}
                </div>
            </div>
        </div>
    </div>
    <!-- /Profile Modal -->

    <!-- Family Info Modal -->
    <div id="family_info_modal" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> Add Emergency Contact</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
                </div>
                <div class="modal-body">
                    {% include 'user/emergencycontact_create.html' %}
                </div>
            </div>
        </div>
    </div>
    <!-- /Family Info Modal -->

{% endblock %}