{% extends "base.html" %} 

{% block title %}Salaries{% endblock %} 

{% block content %} 

{% if user.is_authenticated %} 

{% load static %}

<!-- Page Wrapper -->
<div class="page-wrapper">

    <!-- Page Content -->
    <div class="content container-fluid">

        <!-- Page Title -->
        <div class="row">
            <div class="col-sm-4 col-5">
                <h4 class="page-title">Employee Salary</h4>
            </div>
        </div>
        <!-- /Page Title -->

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table datatable">
                        <thead>
                            <tr>
                                <th>Employee</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Join Date</th>
                                <th>Role</th>
                                <th>Salary</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for object in object_list %}
                                <tr>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a href="/profile/{{ object.employee.owner.username }}" class="avatar"><img alt="" src="{{ object.employee.profile_image_url }}"></a>
                                            <a href="/profile/{{ object.employee.owner.username }}">{{ object.employee.first_name }} {{ object.employee.last_name }} <span>Web Designer</span></a>
                                        </h2>
                                    </td>
                                    <td>{{ object.employee.owner }}</td>
                                    <td>{{ object.employee.email }}</td>
                                    <td>{{ object.employee.date_of_join }}</td>
                                    <td>{{ object.employee.job_title }}</td>
                                    <td>${{ object.salary }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Content -->

    {% endif %} 

    {% endblock %}