{% extends "base.html" %} {% block title %}User Profile{% endblock %} {% block content %} {% if user.is_authenticated %} {% load static %}
<!-- Page Wrapper -->
<div class="page-wrapper">

    <!-- Page Content -->
    <div class="content container-fluid">

        <!-- Page Title -->
        <div class="row">
            <div class="col-sm-4 col-5">
                <h4 class="page-title">Vacation Requests</h4>
            </div>
            <div class="col-sm-8 col-7 text-right m-b-30">
                <a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_leave"><i class="fa fa-plus"></i> Create Request</a>
            </div>
        </div>
        <!-- /Page Title -->

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table datatable">
                        <thead>
                            <tr>
                                <th>Employee</th>
                                <th>Employee ID</th>
                                <th>Email</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th class="text-center">Status</th>
                                <th class="text-right">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for object in object_list %}
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <a href="/profile/{{ object.employee.owner.username }}" class="avatar"><img alt="" src="{{ object.employee.profile_image_url }}"></a>
                                        <a href="/profile/{{ object.employee.owner.username }}">{{ object.employee.first_name }} {{ object.employee.last_name }}<span>{{ object.employee.job_title }}</span></a>
                                    </h2>
                                </td>
                                <td>{{ object.employee.owner.username }}</td>
                                <td>{{ object.employee.email }}</td>
                                <td>{{ object.start_date}}</td>
                                <td>{{ object.end_date}}</td>

                                {% if user.userprofile.role == "EMPLOYEE" %}
                                    <td class="text-center">
                                        <div class="action-label">
                                            <a class="btn btn-white btn-sm btn-rounded" href="javascript:void(0);">
                                                {% if object.status == "new" %}
                                                    <i class="fa fa-dot-circle-o text-purple"></i> New
                                                {% elif object.status == "approve" %}
                                                    <i class="fa fa-dot-circle-o text-success"></i> Approved</a>
                                                {% elif object.status == "decline" %}
                                                    <i class="fa fa-dot-circle-o text-danger"> Declined</i>
                                                {% endif %}
                                            </a>
                                        </div>
                                    </td>
                                {% elif user.userprofile.role  == "MANAGER" %}
                                <td class="text-center">
                                    <div class="dropdown action-label">
                                        <a class="btn btn-white btn-sm btn-rounded dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
                                            <i class="fa fa-dot-circle-o text-purple"></i> New
                                        </a>
                                        {% include 'user/vacation_update.html' with vacation_id=object.id new_status="approve" %}
                                        {% include 'user/vacation_update.html' with vacation_id=object.id new_status="decline" %}
                                    </div>
                                </td>
									
                                {% endif %}

                                {% include 'user/vacation_delete.html' with vacation_id=object.id %}

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Content -->

    <!-- Add Leave Modal -->
    <div id="add_leave" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Leave</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
                </div>
                <div class="modal-body">
                    {% include 'user/vacation_create.html'%}
                </div>
            </div>
        </div>
    </div>
    <!-- /Add Leave Modal -->
    {% endif %} {% endblock %}