<form method="POST" action="{% url 'create-vacation' %}">
    {% csrf_token %}
    <div class="form-group">
        <label>From <span class="text-danger">*</span></label>
        <div class="cal-icon">
            <input name="start_date" class="form-control datetimepicker" type="text">
        </div>
    </div>
    <div class="form-group">
        <label>To <span class="text-danger">*</span></label>
        <div class="cal-icon">
            <input name="end_date" class="form-control datetimepicker" type="text">
        </div>
    </div>
    <div class="submit-section">
        <button class="btn btn-primary submit-btn">Submit</button>
    </div>
</form>