{% if request.user.is_authenticated %}
<!-- Sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="active">
                    <a href="{% url "home" %}"><i class="la la-user"></i> <span>Profile</span></a>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-group"></i> <span> Employees</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="{% url "employees" %}">All Employees</a></li>
                        <li><a href="{% url "departments" %}">Departments</a></li>
                        <li><a href="{% url "designations" %}">Designations</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-files-o"></i> <span> Accounts </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="{% url "invoices" %}">Invoices</a></li>
                        <li><a href="{% url "payments" %}">Payments</a></li>
                        <li><a href="{% url "expenses" %}">Expenses</a></li>
                        <li><a href="{% url "taxes" %}">Taxes</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{% url "salary" %}"><i class="la la-money"></i> <span>Employee Salary</span> </a>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-building"></i> <span> Jobs </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="{% url "jobs" %}"> Manage Jobs </a></li>
                        <li><a href="{% url "candidates" %}"> Applied Candidates </a></li>
                    </ul>
                </li>
                <li>
                    <a href="{% url "holidays" %}"><i class="la la-plane"></i> <span>Holidays</span></a>
                </li>
                <li>
                    <a href="{% url "activities" %}"><i class="la la-bell"></i> <span>Activities</span></a>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-files-o"></i> <span> Settings </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="{% url "settings" %}">Company Settings</a></li>
                        <li><a href="{% url "roles" %}">Roles and Permissions</a></li>
                        <li><a href="{% url "password" %}">Change Password</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /Sidebar -->
{% endif %}