{% extends "base.html" %} 

{% block title %}Holidays{% endblock %} 

{% block content %} 

{% if user.is_authenticated %} 

{% load static %}
<!-- Page Wrapper -->
<div class="page-wrapper">

    <!-- Page Content -->
    <div class="content container-fluid">

        <!-- Page Title -->
        <div class="row">
            <div class="col-sm-5 col-5">
                <h4 class="page-title">Holidays 2019</h4>
            </div>
            <div class="col-sm-7 col-7 text-right m-b-30">
                <a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_holiday"><i class="fa fa-plus"></i> Add Holiday</a>
            </div>
        </div>
        <!-- /Page Title -->

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table mb-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Title </th>
                                <th>Holiday Date</th>
                                <th>Day</th>
                                <th class="text-right">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for holiday in object_list %}
                                <tr class="holiday-upcoming">
                                    <td>{{ holiday.id }}</td>
                                    <td>{{ holiday.title }}</td>
                                    <td>{{ holiday.holiday_date }}</td>
                                    <td>{{ holiday.week_day }}</td>
                                    {% include 'vacations/holidaydelete_form.html' with holiday_id=holiday.id %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Content -->

    <!-- Add Holiday Modal -->
    <div class="modal custom-modal fade" id="add_holiday" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Holiday</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
                </div>
                <div class="modal-body">
                    {% include 'vacations/holidaycreate_form.html' %}
                </div>
            </div>
        </div>
    </div>
    <!-- /Add Holiday Modal -->

</div>
{% endif %} 

{% endblock %}