astroid==2.0.4
attrs==17.4.0
beautifulsoup4==4.7.1
behave==1.2.5
botocore==1.12.29
bs4==0.0.1
certifi==2019.3.9
chardet==3.0.4
click==6.7
cycler==0.10.0
dataclasses==0.6
Django==2.2
djongo==1.2.32
docutils==0.14
dpkt==1.9.1
enum-compat==0.0.2
idna==2.8
isort==4.3.4
jmespath==0.9.3
jsonschema==2.5.1
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
logger==1.4
matplotlib==3.0.2
mccabe==0.6.1
mock==1.3.0
nose==1.3.7
numpy==1.15.4
parse==1.9.0
parse-type==0.4.2
pbr==5.1.1
pluggy==0.8.1
psycopg2==2.8.2
py==1.10.0
pylint==2.1.1
pylint-django==2.0.8
pylint-plugin-utils==0.5
pymongo==3.7.2
pyparsing==2.3.0
python-dateutil==2.7.3
pytz==2019.1
requests==2.21.0
-e git://github.com/boto/s3transfer.git@f506f396f054d35288bcf86d5289f8749a366ccd#egg=s3transfer
scipy==1.1.0
six==1.11.0
soupsieve==1.8
sqlparse==0.2.4
tox==2.9.1
typing==3.6.4
urllib3==1.24
virtualenv==16.2.0
wrapt==1.10.11
